
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/bled" routerLinkActive="active" ariaCurrentWhenActive="page">Blockly Editor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/scred" routerLinkActive="active" ariaCurrentWhenActive="page">Script Editor</a>
      </li>
      <li ngbDropdown>
        <a class="nav-link" href="#" id="gfg" ngbDropdownToggle>Link</a>
        <div ngbDropdownMenu="gfg">
          <button ngbDropdownItem>GeeksforGeeks</button>
          <button ngbDropdownItem>Angular10</button>
          <button ngbDropdownItem>ng bootstrap</button>
        </div>
      </li>
    </ul>
  </div>
</nav>



